*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

code/Leo/mappingo/\.idea/

*.iml

code/Leo/mappingo/servers/micro-service/spatial-data/target/

code/Leo/mappingo/servers/micro-service/gis-process/target/

code/Leo/mappingo/servers/micro-service/mappingo-api/target/

code/Leo/mappingo/servers/cloud-tool/monitor-server/target/

code/Leo/mappingo/servers/cloud-tool/discovery-server/target/

code/Leo/mappingo/servers/cloud-tool/config-server/target/
